apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault-config
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/FlipNoteTeam/FlipNote-Infra.git
    targetRevision: main
    path: charts/infra/vault-config
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: external-secrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
